body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(247, 247, 57);
}
h2{
    text-align: center;
    font-size: 32px;

}
.highlight{
    font-size: 32px;
    text-decoration: double;
    text-align: center;
}
#para3{
    font-size: 32px;
    text-decoration:underline;
}